.code.dark, .code.dark pre.code, .code.dark .line_holder .line_content {
    background-color: #1d1f21;
    color: #c5c8c6;
}

code,
kbd,
pre,
samp {
    font-family:monospace,monospace;
    font-size: 12px;
}

p
{
    font-family: 'Open Sans', sans-serif;
    color:#263056;
}

.doc-content a:link,
.doc-content a:visited,
.doc-content a:hover,
.doc-content a:active {
    color: #ff6f61;
    text-decoration: none;
    cursor: hand;
}
.doc-content a:hover {
  text-decoration: underline;
}

.doc-content img {
  max-width: 100%;
}
